# App
APP_PORT=8001
APP_ENV=local

# Database
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=hrm
DB_USER=postgres
DB_PASSWORD=

# Auth
BCRYPT_ROUNDS=12

# i18n
DEFAULT_LANG=uz

# MinIO
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_REGION=us-east-1
MINIO_BUCKET=
MINIO_ENDPOINT=
